:root{
    --secundario:#B444C1;
    --blanco:#fff;    
    --primario:#ff006e;
    --oscuro:#000;
    --margen: #e1e1e1;
    --degrade-claro: linear-gradient(to right, var(--primario), var(--secundario));
    --degrade-oscuro: linear-gradient(to right, black, grey, black);
    --titulos:'Arima Madurai',cursive;
    --parrafos:'Mulish', sans-serif;   
}

html{
    box-sizing: border-box;   
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    overflow-x: hidden;
}

*,*::after, *::before{
    box-sizing: inherit;
}

/*globales*/

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
    width: 95%;
}

h1,h2{
    font-family: var(--titulos);
}

h3, p, a{
    font-family: var(--parrafos);
}

img{
    max-width: 100%;
}

.primario {
    color: var(--primario);
}

.secundario {
    color: var(--secundario);
}

.ocultar{
    display: none;
}

.btn-cerrar{
    font-size: 3rem;
    font-weight: bold;
    margin-top: 3rem;
    color: var(--blanco);
    position: absolute;
    top: 0;
    right: 50px;
    user-select: none;

}

.pantalla-completa{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 65vh;
    right: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 4;
}

@media(min-width:414px){
    .pantalla-completa {
        height: 60vh;
    }
}

@media(min-width:390px){
    .pantalla-completa {
        height: 60vh;
    }
}

@media(min-width:360px){
    .pantalla-completa{
        height: 63vh;
    }
}

@media(min-width:412px){
    .pantalla-completa {
        height: 50vh;
    }
}

@media(min-width:768px){
    .pantalla-completa {
        height: 122vh;
    }
}

@keyframes desplazamiento {
    0%{
        transform: translateX(100%);
    }

    100%{
        transform:translateX(0);
    }
}

.btn-cerrar:hover{
    cursor: pointer;
}

.btn-nuevo{
    text-decoration: none;
    color: var(--blanco);
    font-size: 2rem;
    text-transform: capitalize;
    padding: 1rem 5rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    background: var(--degrade-claro);
}

@media(min-width: 768px) {
    .btn-nuevo{
        font-size: 2.2rem;
    }
} 

.btn-categoria{
    text-decoration: none;
    color: var(--blanco);
    font-size: 2rem;
    text-transform: capitalize;
    padding: 1rem 5rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    background: var(--degrade-oscuro);
}

@media(min-width: 768px) {
    .btn-categoria{
        font-size: 2.2rem;
    }
} 

/*navegacion*/

.contenedor-navegacion{
    background-color: var(--oscuro);
    position: relative;
    z-index: 5; 
}

.contenido-navegacion{
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

.logo h2, .navegacion a {
  color: var(--blanco);  
}

.logo h2{
    font-size: 3rem;
}

.logo img {
    height: auto; 
    max-height: 100%; 
    max-width: 100%;
}

.lgye {
    height: 40px;
    width: 40px;
}

.navegacion a{
    text-decoration: none;
    font-size: 2.2rem;
    padding: 1.5rem;
    padding-left: 4rem;
    display: block;
    transition: color .3s ease-in-out;
    text-align: center;
}

@media(min-width: 768px) {
    .navegacion a{
        text-align: left;
    }
}

.navegacion a:nth-child(even):hover{
    color: var(--secundario);
}

.navegacion a:nth-child(odd):hover{
    color: var(--primario);
}

.navegacion a:first-of-type{
    margin-top: 5rem;
}

.navegacion{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 65vh;
    width: 50rem;
    padding: 3rem 4rem;
    background-color: var(--oscuro);
    animation: desplazamiento .5s ease-in-out;
}

@media(min-width:375px){
    .navegacion {
        height: 75vh;
    }
    
    .navegacion a {
        margin-left: 9rem;
    }
}

@media(min-width:414px){
    .navegacion {
        height: 60vh;
    }
    
    .navegacion a {
        margin-left: 7rem;
    }
}

@media(min-width:390px){
    .navegacion {
        height: 60vh;
    }
    
    .navegacion a {
        margin-left: 7rem;
    }
}

@media(min-width:360px){
    .navegacion {
        height: 63vh;
    }
    
    .navegacion a {
        margin-left: 11rem;
    }
}

@media(min-width:412px){
    .navegacion {
        height: 50vh;
    }
    
    .navegacion a {
        margin-left: 8rem;
    }
}

@media(min-width:540px){
    .navegacion {
        height: 65vh;
        width: 720px;
    }

    .navegacion a {
        margin-left: 16rem;
    }
}

@media(min-width:768px){
    .navegacion {
        height: 122vh;
    }
}

.hamburguesa:hover{
    cursor: pointer;    
}

.hamburguesa span{
    background: linear-gradient(to right, var(--primario), var(--secundario));
    display: block;
    width: 5rem;
    height: .5rem;
    margin-bottom: .5rem;
}

.ocultar-enlace {
    display: none;
}

/*header con video*/

.contenido-header{
    position: relative;
}

.contenido-header::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.3);
}

.texto-encabezado{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.texto-encabezado h2{
    color: var(--blanco);
    font-size: 4rem;
}

@media(min-width: 768px) {
    .texto-encabezado h2{
        font-size: 8rem;
    }
}

video{
    width: 100%;
    height: 100%;
}

/*nosotros*/

.contenedor-nosotros{    
    padding-top: 5rem;
}

@media(min-width: 768px) {
    .contenedor-nosotros{
        display: flex;
        justify-content: space-between;
    }   
}

.texto-nosotros, .imagenes-nosotros{
   
    flex: 0 0 calc(50% - 1rem) ;
}

.texto-nosotros .bienvenida{
    font-size: 4rem;
    color: var(--primario);
    text-align: center;
}

@media(min-width: 768px) {
    .texto-nosotros .bienvenida{
        text-align: left;
    }
}

.texto-nosotros h1{
    font-size: 5rem;
    text-align: center;
}

@media(min-width: 768px) {
    .texto-nosotros h1{
        text-align: left;
    }
}

.texto-nosotros p{
    font-size: 2rem;
    text-align: center;
}

@media(min-width: 768px) {
    .texto-nosotros p{
        text-align: left;
    }
}

.imagenes-nosotros{
    display: flex;
    justify-content: space-between;
}

.imagenes-nosotros img{
    border-radius: 5px;
}

.imagen1, .imagenes2{
    flex: 0 0 calc(50% - 1rem);
}

.imagenes2 img{
    margin-bottom: 1rem;
}

.menu{
    padding-top: 4rem;
}

/* servicios */

.servicios {    
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.contenedor-servicios h2 {
    text-align: center;
    margin-bottom: 3rem;
    font-family: var(--titulos);
    font-size: 4rem;
}

/* carrusel */

.carousel-item h5 {
    font-size: 2.5rem;
    font-family: var(--titulos);    
}

.carousel-item p {
    font-size: 1.8rem;
    font-family: var(--parrafos);
}

.carousel-item a {
    margin-bottom: 4rem;
}

@media(min-width:768px){
    .carousel-item a {
        margin-bottom: 12rem;
    }

    .carousel-item h5 {
        font-size: 4rem;
    }
    
    .carousel-item p {
        font-size: 2rem;
    }
}

/*productos*/

.texto-productos{
    text-align: center;
    font-size: 5rem;
}

.botones-productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.botones-productos button{
    flex: 0 0 calc(50% - 1rem);
    padding: 1rem 3rem;
}

@media(min-width: 768px) {
    .botones-productos{
        display: inline-block;
    }
    .botones-productos button{
        flex: unset;
    }
}

@media(min-width: 768px) {
    .productos{
        display: flex;
        justify-content: space-between;
        flex-wrap:wrap;
    }
}

.producto{
    flex: 0 0 calc(33.3% - 1rem);
    border: 1px solid var(--margen);
    padding: 2rem;
    border-radius: 5px;
}

.producto h2{
    text-align: center;
}

.producto p{
    font-size: 1.8rem;
}

.precio{
    display: flex;
    justify-content: space-between;
}

.precio p{
    font-weight: bold;
    font-size: 2rem;
}

.precio button{
    padding:1rem;
    border-radius: 5px;
    border: none;
    background: linear-gradient(to right, black, grey, black);
    color: var(--blanco);
    height: 3.8rem;
    width: 10rem;
}

.precio button:hover {
    background: linear-gradient(to right, var(--primario), var(--secundario));
}

/* separador */

.separador{
    background-image: url('../assets/img/tijeras.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
}

.separador::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    z-index: -1;
}

.contenido-separador {
    padding: 5rem;
    text-align: center;
}

.contenido-separador h2 {
    font-size: 4rem;
    color: var(--blanco);
}

@media(min-width: 768px) {
    .contenido-separador h2{
        font-size: 5rem;
        color: var(--blanco);
    }
}

.contenido-separador p {
    color: var(--blanco);
    font-size: 3rem;
    text-align: center;
}

@media(min-width: 768px) {
    .contenido-separador p{
        text-align: center;
    }
}

/* separador1*/
.separador1{
    background-image: url('../assets/img/peinando.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
}

.separador1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    z-index: -1;
}

.contenido-separador1{
    padding: 5rem;
    text-align: center;
}

.contenido-separador1 h2 {
    font-size: 4rem;
    color: var(--blanco);
}

@media(min-width: 768px) {
    .contenido-separador1 h2{
        font-size: 5rem;
        color: var(--blanco);
    }
}

.contenido-separador1 p {
    color: var(--blanco);
    font-size: 3rem;
}

/*formulario contacto*/

.formulario-contacto{
    padding-top: 5rem;
}

@media(min-width: 768px) {
    .formulario-contacto{
        display: flex;
    }
}

.informacion-contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.informacion-contacto, .formulario{
    flex: 0 0 calc(50% - 1rem);
}

.informacion-contacto{
    background-color: var(--oscuro);
    padding: 2rem;
}

.informacion-contacto h3, .informacion-contacto p, .redes-sociales i{
    color: var(--blanco);
}

.informacion-contacto h3{
    font-size: 3rem;
    font-family: var(--titulos);
}

.informacion-contacto p{
    font-size: 1.3rem;
  
}

@media(min-width:768px){
    .informacion-contacto h3{
        font-size: 4rem;
    }
    
    .informacion-contacto p{
        font-size: 2.2rem;
    }
}

.informacion-contacto i{
    margin-right: 1rem;
}

.redes-sociales{
    font-size: 3rem;
}

.formulario{
    padding: 5rem;
}

.input-formulario label{
    display: block;
    font-size: 2rem;
    font-family: var(--parrafos);
    margin-bottom: 1.5rem;
}

.input-formulario input, .input-formulario textarea{
    width: 100%;
}

.input-formulario input, .input-formulario textarea{
    padding: 1rem 1.6rem;
    border: 1px solid var(--margen);
    border-radius: 5px;
    outline: none;
    font-family: var(--parrafos);
}

.input-formulario textarea{
    height: 20rem;
    resize:none;
}

.ubicacion h3 {
    margin-top: 5rem;
    text-align: center;
    font-size: 4rem;
    font-family: var(--titulos);
}

.mapa {
    margin-top: 5rem;
    border: 2px solid var(--margen);
}

/* pie de pagina */

.pie-pagina{
    margin-top: 5rem;
    background-color: rgb(20,20,20);
    padding: 5rem;
}
@media(min-width:768px){
    .contenedor-piepagina{
        display: flex;
        justify-content: space-between;
    }
}

.info{
    flex: 0 0 calc(25% - 1rem);
    margin-bottom: 2rem;
}

.info h3, .info p{
    color: var(--blanco);
    text-align: center;
}

.info h3{
    font-size: 2.2rem;
    color: var(--primario);
}

.info p{
    font-size: 1.8rem;
}

.redes-pie{
    text-align: center;
}

.info input[type="email"], 
.info input[type="text"] {
    font-family: var(--parrafos);
    display: inline-block;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 5px;
    outline: none;
    width: 100%;
}

.info input[type="submit"]{
    padding: .1rem 2rem;
    font-size: 1.8rem;
    border-radius: 0;
    border-radius: 5px;
}

.footer{
    text-align: center;
    background-color: var(--oscuro);
    color: var(--blanco);
    padding: 2rem;
    font-size: 2rem;
}

/* modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
  
.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-content h3 {
    font-size: 4rem;
    font-family: var(--titulos);
    text-align: center;
    
}

.modal-content p {
    margin-bottom: 3rem;
}

.precio-servicios {
    text-align: center;
    margin-bottom: 3rem;
    font-family: var(--parrafos);
    font-size: 1.8rem;  
}
  
.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
  
.close:hover {
    color: #000;
}
  
.exito {
display: block;
color: var(--blanco);
font-size: 2rem;
text-align: center;
border-radius: 5px;
font-family: var(--parrafos);
background-color: green;
}

.error-suscripcion {
    display: block;
    color: var(--blanco);
    font-size: 2rem;
    text-align: center;
    border-radius: 5px;
    font-family: var(--parrafos);
    background-color: red;
    }

.error {
display: block; 
color: red;
}  

.invalido {
border: solid 1px red;
box-shadow: 0 0 10px red;
}